<!DOCTYPE html>
    <html>
        <head>
            <h1><%= @quizzes.title %></h1>
        </head>
        <body>
            <% @questions.each do |question| %>
                <p><%= question.question %></p>
                <p>
                    <ol type="a">
                    <% @answers[question.id].each do |answer|%>
                        <li><%= answer.answer %></li>
                    <% end %>
                    </ol>
                </p>
                <p>Answer: <%= question.answer %></p>
            <% end %>
            <p><%= link_to 'back', :controller => "quizzes", :action => "index" %></p>
        </body>
    </html
    