<p id="notice"><%= notice %></p>

<p>
  <b>Qid:</b>
  <%= @question_answer.qid %>
</p>

<p>
  <b>Answer:</b>
  <%= @question_answer.answer %>
</p>


<%= link_to 'Edit', edit_question_answer_path(@question_answer) %> |
<%= link_to 'Back', question_answers_path %>
